name: Publish 'cu130-megapak-pt210-py314' to GHCR

on:
  workflow_dispatch: # Can be manually triggered
  schedule: # Runs on every Monday & Friday, 07:00 UTC
    - cron: '0 7 * * 1,5'
  push:
    branches: [ main ]
    paths-ignore:
      - '**'
      - '!cu130-megapak-pt210-py314/Dockerfile'
      - '!cu130-megapak-pt210-py314/builder-scripts/**'
      - '!cu130-megapak-pt210-py314/runner-scripts/**'
      - '!.github/workflows/build-cu130-megapak-pt210-py314.yml'

jobs:

  build-test-publish-cu130-megapak-pt210-py314:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:

      - name: Move Docker data-root to /mnt
        run: |
          sudo systemctl stop docker

          sudo mkdir -p /mnt/docker
          sudo mkdir -p /etc/docker

          cat /etc/docker/daemon.json || true

          sudo tee /etc/docker/daemon.json > /dev/null <<'EOF'
          {
            "data-root": "/mnt/docker"
          }
          EOF

          sudo systemctl restart docker
          docker info | grep "Docker Root Dir"

      -
        name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
      -
        name: Git checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build 'cu130-megapak-pt210-py314'
        uses: docker/build-push-action@v6
        with:
          context: ./cu130-megapak-pt210-py314
          file: ./cu130-megapak-pt210-py314/Dockerfile
          build-args: |
            USING_GITHUB_ACTIONS=true
          tags: |
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314-${{ steps.date.outputs.date }}
          load: true
      -
        name: Show 'cu130-megapak-pt210-py314' environment variables
        run: |
          docker run --rm \
            --name show-env \
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314 \
            env
      -
        name: Test 'cu130-megapak-pt210-py314'
        run: |
          docker run --rm \
            --name comfyui-quick-test \
            -e CLI_ARGS="--quick-test-for-ci --cpu" \
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314-${{ steps.date.outputs.date }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Push 'cu130-megapak-pt210-py314'
        uses: docker/build-push-action@v6
        with:
          context: ./cu130-megapak-pt210-py314
          file: ./cu130-megapak-pt210-py314/Dockerfile
          build-args: |
            USING_GITHUB_ACTIONS=true
          tags:  |
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314
            ghcr.io/${{ github.repository_owner }}/comfyui-boot:cu130-megapak-pt210-py314-${{ steps.date.outputs.date }}
          push: true
